@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
   
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">
                    links
                </th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td class="text-center">
                    <a class=" text-dark" asp-area="" asp-controller="Arabas" asp-action="Index">Arabas</a>

                </td>

            </tr>
            <tr>
                <td class="text-center">
                    <a class=" text-dark" asp-area="" asp-controller="ArabaKiras" asp-action="Index">ArabasKiras</a>

                </td>

            </tr>
            <tr>
                <td class="text-center">
                    <a class=" text-dark" asp-area="" asp-controller="Ozelliks" asp-action="Index">Ozelliks</a>

                </td>

            </tr>
            <tr>
                <td class="text-center">
                    <a class=" text-dark" asp-area="" asp-controller="Personels" asp-action="Index">Personels</a>

                </td>

            </tr>
            <tr>
                <td class="text-center">
                    <a class=" text-dark" asp-area="" asp-controller="Kiracis" asp-action="Index">Kiracis</a>

                </td>

            </tr>
             <tr>
                 <td class="text-center">
                     <a class=" text-dark" asp-area="" asp-controller="ServisFirmas" asp-action="Index">ServisFirmas</a>

                 </td>

            </tr>

        </tbody>
    </table>
</div>
